<form>
  <div class="input-group">
    <label for="initialInvestmentValue">Initial Investment:</label>
    <input
      type="text"
      id="initialInvestmentValue"
      name="initialInvestmentValue"
      placeholder="insert value"
    />

    <label for="AnnualInvestmentValue">Annual Investment:</label>
    <input
      type="text"
      id="AnnualInvestmentValue"
      name="AnnualInvestmentValue"
      placeholder="insert value"
    />

    <label for="ExpectedReturnValue">Expected Return:</label>
    <input
      type="text"
      id="ExpectedReturnValue"
      name="ExpectedReturnValue"
      placeholder="insert value"
    />
    <label for="DurationValue">Duration:</label>
    <input
      type="text"
      id="DurationValue"
      name="DurationValue"
      placeholder="insert value"
    />
  </div>
  <button>Calculate</button>
</form>
